#!/bin/sh
git config pull.ff only
git config commit.gpgsign true
git config user.name "Paepcke, Michael "
git config user.email "git@paepcke.de"
git config user.signingkey "$BSD_KEY/id/id_ed25519.pub"
git config gpg.format "ssh"
git config gpg.ssh.allowedSignersFile "$BSD_KEY/id/allowed_signers"
git config core.sshCommand "ssh -4akxy -i $BSD_KEY/id/id_ed25519 -m hmac-sha2-512-etm@openssh.com -c chacha20-poly1305@openssh.com -o MACs=hmac-sha2-512-etm@openssh.com -o Ciphers=chacha20-poly1305@openssh.com -o KexAlgorithms=curve25519-sha256 -o PubkeyAcceptedKeyTypes=ssh-ed25519 -o UserKnownHostsFile=$BSD_KEY/id/known_hosts -o StrictHostKeyChecking=yes -o UpdateHostKeys=no -o ServerAliveInterval=120 -o ServerAliveCountMax=3 -o TCPKeepAlive=no -o Tunnel=no -o VisualHostKey=no -o Compression=no -o VerifyHostKeyDNS=no -o AddKeysToAgent=no -o ForwardAgent=no -o ClearAllForwardings=yes -o IdentitiesOnly=yes -o IdentityAgent=none"
